body {
    background-color: #d5e1ef;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Outfit', sans-serif;
    gap: 16px;
}

.card {
    max-width: 320px;
    width: 100%;
    max-height: 499px;
    height: auto;
    background-color: white;
    border-radius: 20px;
    justify-content: center;
    box-shadow: 0 25px 25px rgba(0, 0, 0, 0.05);
}

.card_content {
    padding: 16px 16px 40px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.card_image {
    width: 288px;
    height: 288px;
    border-radius: 10px;
}

h1 {
    padding-top: 24px;
    padding-bottom: 20px;
    font-size: 22px;
    font-family: 'Outfit', sans-serif;
    text-align: center;
    width: 256px;
}

p {
    font-size: 15px;
    font-family: 'Outfit', sans-serif;
    text-align: center;
    color: #68778D;
    width: 256px;
}